mixin slider()
    .slider
        .slider__preview
            .swiper-container.swiper1
                .swiper-wrapper
                    .swiper-slide 
                        img(src="../images/slider/preview1.png" alt="" srcset="").slider__preview-image
                        .slider__preview-discription.d-lg-none
                            .slider__preview-title
                                | COLOUR BLOCK FAUX SUEDE T-SHIRT
                            .slider__preview-price
                                | $15
                    .swiper-slide 
                        img(src="../images/slider/preview2.png" alt="" srcset="").slider__preview-image
                        .slider__preview-discription.d-lg-none
                            .slider__preview-title
                                | SATIN FINISH PLAYSUIT DRESS
                            .slider__preview-price
                                | $26

                    .swiper-slide
                        img(src="../images/slider/preview3.png" alt="" srcset="").slider__preview-image
                        .slider__preview-discription.d-lg-none
                            .slider__preview-title
                                | DOUBLE-BREASTED LINEN BLAZER
                            .slider__preview-price
                                | $26
                // Add Pagination
                .swiper-pagination.swiper-pagination1
                .swiper-button-prev
                .swiper-button-next
                
        .slider__image
            .swiper-container.swiper1
                .swiper-wrapper
                    .swiper-slide 
                        img(src="../images/slider/slider1.png" alt="").slider__image-img
                    .swiper-slide 
                        img(src="../images/slider/slider2.png" alt="").slider__image-img
                    .swiper-slide
                        img(src="../images/slider/slider3.png" alt="").slider__image-img

