mixin footer()
    footer.footer
        //- img(src="../images/footer/footer-background.svg", alt="").footer__background
        a(href="./Main.html").footer__logo
            img(src="../images/white-logo.svg", alt="")
        .footer__socials
            a(href="#").footer__socials-item.d-none.d-xl-block
                p connect us
            a(href="#").footer__socials-item.d-none.d-xl-block
                p connect us
            a(href="#").footer__socials-item.d-none.d-md-block
                p connect us
            a(href="#").footer__socials-item.footer__socials-item_active
                p INSTAGRAM
            a(href="#").footer__socials-item.footer__socials-item_active
                p Facebook
            a(href="#").footer__socials-item.footer__socials-item_active
                p Pinterest
            a(href="#").footer__socials-item.footer__socials-item_active
                p YOUTUBE
            a(href="#").footer__socials-item.footer__socials-item_active.d-none.d-md-block
                p VK
            a(href="#").footer__socials-item.d-none.d-md-block
                p connect us
            a(href="#").footer__socials-item.d-none.d-xl-block
                p connect us
            a(href="#").footer__socials-item.d-none.d-xl-block
                p connect us
        hr.footer__border
        .footer__privacy
            a(href="#").footer__privacy-link
                p privacy policy
            p /
            a(href="#").footer__privacy-link
                p terms of use
            