@font-face{
  font-family: "Gotham-regular";
  src: url("../fonts/Gotham/GothamPro.ttf") format("truetype");
}

@font-face{
  font-family: "Gotham";
  src: url("../fonts/Gotham/GothamPro-Medium.ttf") format("truetype");
}

