$defaultColor: #ffffff;
$light-gray: #C4C4C4;
$dark: #383838;
$title-color: #36425b;
$text-color: #3f3f3f;
$accent-orange: #e3390e;
$accent-green: #42b1ba;
$accent-yellow: #ffbc3d;
$white: #ffffff;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px
