include ../product.pug
include ./sort.pug


mixin products()
    .products
        .container
            .row.flex-wrap-reverse.flex-sm-wrap
                .col-12.col-sm-9
                    .products__items
                        .row
                            .col-6.col-md-4
                                +product('../images/products/product1.png',' WAISTCOAT WITH CONTRAST PIPING','$24')
                            .col-6.col-md-4
                                +product('../images/products/product2.png',' ANIMAL PRINT OVERSIZED JACKET','$34')
                            .col-6.col-md-4
                                +product('../images/products/product3.png','  FAUX SUEDE ANIMAL PRINT JACKET','$31','$42')
                            .col-6.col-md-4
                                +product('../images/products/product4.png',' KNITTED SWEATER WITH KNOT','$42')
                            .col-6.col-md-4
                                +product('../images/products/product5.png',' JEANS ZW PREMIUM NEW CHINO','$16','$29')
                            .col-6.col-md-4
                                +product('../images/products/product6.png','  OVERSHIRT WITH POCKETS','$16')
                            .col-6.col-md-4
                                +product('../images/products/product7.png',' FROCK COAT WITH ZIPS','$123')
                            .col-6.col-md-4
                                +product('../images/products/product8.png',' TEXTURED SWEATER WITH THREAD','$23','$44')
                            .col-6.col-md-4
                                +product('../images/products/product2.png',' TEXTURED SWEATER WITH THREAD','$66')
                .col-12.col-sm-3.offset-xl-1.col-xl-2
                    .products__sort
                        +sort()
            .more
                a(href="#") more